{% extends "base.html" %}
{% block content %}

<div class="card">
<form action="/predict" method="POST">
    Sleep Hours: <input type="number" step="0.1" name="sleep"><br>
    Sleep Quality (1-10): <input type="number" name="sleep_quality"><br>
    Screen Time: <input type="number" name="screen_time"><br>
    Stress (1-10): <input type="number" name="stress"><br>
    Activity Hours: <input type="number" step="0.1" name="activity"><br>
    Water Intake (Liters): <input type="number" step="0.1" name="water"><br>
    Work Hours: <input type="number" name="work"><br>
    Caffeine Cups: <input type="number" name="caffeine"><br>
    Mood (1-10): <input type="number" name="mood"><br>
    <button type="submit">Analyze</button>
</form>
</div>

{% endblock %}